title: Twenty Female Mathematicians
description: A collection of articles describing mathematical research of twenty female mathematicians.
url: "https://twentyfemalemathematicians.com/" 

# Build settings

plugins:
  - jekyll-feed

markdown: kramdown
kramdown:
    math_engine: katex


collections:
  people:
    output: true

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

theme: jekyll-theme-minimal