<footer>
    <hr>
    <p>
        Written by: Hollis Williams
    </p>
    <p>
        Developed by: <a href="https://github.com/tusindfryd">tusindfryd</a>
    </p>
    <p>
        To discuss mistakes or suggest improvements, please send an e-mail at hollis.williams<code>@</code>warwick.ac.uk
        or
        visit <a href="https://github.com/tusindfryd/twenty-female-mathematicians">the project's GitHub page</a> to open an issue.
    </p>
    <a href="https://arxiv.org/abs/1910.01730">Arxiv</a>

</footer>