<head>
    <title>Twenty Female Mathematicians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam|Playfair+Display:400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | relative_url }}">
</head>