* {
    color: #222!important
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif
}

h4 {
    font-size: 14pt;
}

.pdf {
    margin-top: 20px;
    max-height: 70vh;
    overflow: hidden;
}

header a:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
}

h2 {
    text-align: center;
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

#caption {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10pt;
}

p {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10pt;
    line-height: 160%;
}

.col-md-3 {
    text-align: center;
    padding-bottom: 60px;
    ;
}

footer {
    width: 40vw;
    margin-left: 30vw;
}

footer, footer p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 10pt;
}

.header {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

footer hr {
    margin-bottom: 70px;
}

#card {
    height: 68px;
}

header {
    padding-top: 20px;
}

section.footnotes, section.footnotes li, section.footnotes p {
    font-size: 8pt;
    font-family: 'Be Vietnam', sans-serif;
}

@media (orientation: portrait) {
    button#changecolor {
        display: none
    }
    h4 {
        font-size: 18pt;
    }
    h1 {
        font-size: 30pt;
    }
    h2 {
        font-size: 18pt;
    }
    #caption {
        font-size: 14pt;
    }
    p {
        font-size: 14pt;
    }
    footer, footer p {
        font-size: 14pt;
    }
    section.footnotes, section.footnotes li, section.footnotes p {
        font-size: 12pt;
    }
    #card {
        height: 100px;
    }
    .container {
        max-width: 98vw;
    }
    .header {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

@media (orientation: landscape) {
    #wrapper {
        padding-left: 20vw;
    }
}

br {
    display: none
}

#wrapper img {
    width: auto;
    max-width: 100%;
}

.tooltip {
    position: initial;
    z-index: initial;
    display: initial;
    margin: initial;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    text-align: unset;
    text-decoration: unset;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: inherit;
    word-wrap: break-word;
    opacity: inherit;
}

section.footnotes {
    margin-bottom: 50px;
    height: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

section.footnotes::-webkit-scrollbar {
    width: 0px;
}

section.footnotes::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: none;
}

button#change_color {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat!important;
    border: none;
    background-color: #fffd80!important;
    background-position: center!important;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.bio {
    margin-bottom: 15px;
}

header h5 {
    padding-left: 20px;
}

footer {
    margin-bottom: 100px;
}

.footnotes ol {
    padding-top: 100px;
}

td, th {
    border: 1px solid #222;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 10px
}