* {
    color: #222!important
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif
}

h4 {
    font-size: 14pt;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.pdf {
    margin-top: 20px;
    max-height: 70vh;
    overflow: hidden;
}

header a:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
}

h2 {
    text-align: center;
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

#caption {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10pt;
}

#search-container {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10pt;
    line-height: 160%;
}

ul#results-container a {
    display: block;
    padding-top: 3px;
}

ul#results-container {
    padding-left: 40px;
}

#results-container {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10pt;
    line-height: 160%;
}

#search {
    position: fixed;
    padding: 10px;
    width: 20vw;
    right: 0;
    z-index: 1;
}

input#search-input {
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 5px;
    border-radius: 100px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIG9wYWNpdHk9IjAuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTE1Ljg1MyAxNi41NmMtMS42ODMgMS41MTctMy45MTEgMi40NC02LjM1MyAyLjQ0LTUuMjQzIDAtOS41LTQuMjU3LTkuNS05LjVzNC4yNTctOS41IDkuNS05LjUgOS41IDQuMjU3IDkuNSA5LjVjMCAyLjQ0Mi0uOTIzIDQuNjctMi40NCA2LjM1M2w3LjQ0IDcuNDQtLjcwNy43MDctNy40NC03LjQ0em0tNi4zNTMtMTUuNTZjNC42OTEgMCA4LjUgMy44MDkgOC41IDguNXMtMy44MDkgOC41LTguNSA4LjUtOC41LTMuODA5LTguNS04LjUgMy44MDktOC41IDguNS04LjV6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 40px;
}

p {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 10pt;
    line-height: 160%;
}

.col-md-3 {
    text-align: center;
    padding-bottom: 60px;
    ;
}

footer {
    width: 40vw;
    margin-left: 30vw;
}

footer, footer p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 10pt;
}

.header {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

footer hr {
    margin-bottom: 70px;
}

#card {
    height: 68px;
}

header {
    padding-top: 20px;
}

section.footnotes, section.footnotes li, section.footnotes p {
    font-size: 8pt;
    font-family: 'Be Vietnam', sans-serif;
}

@media (orientation: portrait) {
    button#change_color {
        display: none;
    }
    #search {
        display: none;
    }
    h4, h5 {
        font-size: 24pt;
    }
    h1 {
        font-size: 36pt;
    }
    h2 {
        font-size: 24pt;
    }
    #caption {
        font-size: 20pt;
    }
    p {
        font-size: 20pt;
    }
    footer, footer p {
        font-size: 20pt;
    }
    section.footnotes, section.footnotes li, section.footnotes p {
        font-size: 18pt;
    }
    section.footnotes {
        height: 100px;
    }
    section.footnotes ol {
        padding-left: 30px;
    }
    .col-md-3 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #card {
        height: unset;
    }
    .row {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    footer {
        width: 80vw;
        margin-left: 10vw;
    }
    .header {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

@media (orientation: landscape) {
    #wrapper {
        padding-left: 20vw;
    }
}

br {
    display: none
}

#wrapper img {
    width: auto;
    max-width: 100%;
}

.tooltip {
    position: initial;
    z-index: initial;
    display: initial;
    margin: initial;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    text-align: unset;
    text-decoration: unset;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: inherit;
    word-wrap: break-word;
    opacity: inherit;
}

section.footnotes {
    margin-bottom: 50px;
    height: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

section.footnotes::-webkit-scrollbar {
    width: 0px;
}

section.footnotes::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: none;
}

button#change_color {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat!important;
    border: none;
    background-color: #fffd80!important;
    background-position: center!important;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.bio {
    margin-bottom: 15px;
}

header h5 {
    padding-left: 20px;
}

footer {
    margin-bottom: 100px;
}

.footnotes ol {
    padding-top: 100px;
}

td, th {
    border: 1px solid #222;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 10px
}